#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  right: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}
